doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='asset/css/app.css')
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    meta(name='msapplication-TileColor' content='#ffffff')
    link(rel='apple-touch-icon-precomposed' href=require('../img/santa-claus-hat-152-166570.png'))
    meta(name='msapplication-TileImage' content=require('../img/santa-claus-hat-144-166570.png'))
    link(rel='apple-touch-icon-precomposed' sizes='152x152' href=require('../img/santa-claus-hat-152-166570.png'))
    link(rel='apple-touch-icon-precomposed' sizes='144x144' href=require('../img/santa-claus-hat-144-166570.png'))
    link(rel='apple-touch-icon-precomposed' sizes='120x120' href=require('../img/santa-claus-hat-120-166570.png'))
    link(rel='apple-touch-icon-precomposed' sizes='114x114' href=require('../img/santa-claus-hat-114-166570.png'))
    link(rel='apple-touch-icon-precomposed' sizes='72x72' href=require('../img/santa-claus-hat-72-166570.png'))
    link(rel='apple-touch-icon-precomposed' href=require('../img/santa-claus-hat-57-166570.png'))
    link(rel='icon' sizes='32x32' href=require('../img/santa-claus-hat-32-166570.png'))
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    title Santa's call
  body
    .container
      #santa.items
        #avatar
        h1 Santa
        h3 +358 23 8473690
      #controls.items
        #reject.controls
          .fa.fa-phone.fa-3x.fa-fw
        #accept.controls
          .fa.fa-phone.fa-3x.fa-fw
    script(src='asset/js/app.js')
